.result {
  width: 100vw;
  color: green;
  text-align: center;
}

.score {
  padding: 20px;
  color: #000000;
  width: 40vw;
  height: 40vh;
  background-color: #fff;
  margin: auto;
}

.description-container {
  display: flex;
  justify-content: space-between;
}

.result-buttons{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    margin: auto;
    width: 100vw;
    gap: 30px;
}
